.advantages {
    min-height: 472px;
    padding: 75px 0 85px 0;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        max-width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subtitle {
        margin-top: 30px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0D0D0D;
        span {
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
        }
    }
}